@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');
:root {
    background-color: grey;
	--heading-font: 'Montserrat', 'Merriweather', 'Red Hat Mono';
	--padding: 1rem;
	--border: 1px solid rgb(0 0 0 / 0.2);
    --primary-color: #d0ccd0;
    --secondary-color: #fbfcff;
    --accent1-color: #1c6e8c;
    --accent2-color: #605856;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Red Hat Mono";
    --text-font: "Montserrat";
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-color: white;  /* headlines on a white background */ 
    --headline-color-on-white: rgba(11, 11, 11, 0.967); /* headlines on a colored background */ 
    --paragraph-color-on-color: white; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: none;
    --nav-link-color: white;  
    --nav-background-color: #f85722;
    --nav-hover-link-color: none;
    --nav-hover-background-color: none;
  }  

#background {
  height: 425px;
}
body {
    background-color: none; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
	background-color: steelblue;
	/*color: var(--heading-text-color);
	font-family: var(--heading-font);*/
	text-decoration: none;
	border-radius: 4px;
}

aside {
	margin: 10px auto;
	padding: var(--padding);
	box-shadow: 0 0 10px rgb(0 0 0 / 0.2 );
}

.callout {
	max-width: 400px;
	margin: 10px;
	border: 2px solid rgba(17, 1, 1, 0.1);
	padding: 15px;
	background-color: #247;
	color: #fff;
}

.callout img {
	float: right;
	margin: 0 0 10px 15px;
	border: 2px solid #000;
	padding: 3px;
	background-color: #bbb;
	width: 100px;
	height: auto;
	
}

blockquote {
	margin: 0;
}

cite {
	display: block;
	border-top: 1px dotted #fff;
	padding-top: 3px;
	text-align: right;
	font-size: smaller;
}

main {
	max-width: 840px;
}

aside { 
	/*width: 20rem;*/
	/*margin: 1rem;*/
	border: 1px solid rgba(0, 0, 0, 0.2);
	/*padding: 1rem;*/
	background-color: #eee;
	color: #333;
	/*text-align: center;*/
}

aside img {
	width: 200px;
	height: auto;
	float: center;
}

p {
	padding: 0;
}

footer {
	margin-top: 15px;
	border-top: 1px solid #000;
	text-align: center;
}
/* Class Selector */ 

 .box {
   margin: 1rem;
   border: 1px solid rgb(0 0 0 / .1);
   padding: 1rem;
   background-color: #ddd;
   color: #000;
   text-decoration: none;	
}

aside {
    width: 20rem;
	text-align: center;
}

main image {
	float: right;
}

aside h2 {
	position: relative;
	/*top: 40px;*/
	left: 15px;
}